# NOTICE: This code is provided solely for the purpose of completing a hiring assessment.
# Any reuse, distribution, or incorporation into other projects (commercial or non-commercial)
# is strictly prohibited and gives legal ground if abused.
[defaults]
roles_path     = roles
inventory      = inventory/enclaive-dev.ini
host_key_checking = False
stdout_callback = default
result_format   = yaml
